body{
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 100vh;
}

div{
   background-color:bisque;
    width: 350px;
    min-height: 400px;
    border: 2px solid black;
    padding: 3px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    align-items: center;
}
